<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container text-center">
    <br><br>
    <h2>Book Details</h2>
    <hr>
    <div class="test-left">

      <div class="">
        <label for="name">Item Name :&#160</label><%=itm.itemName%>
      </div>
      <div class="">
        <label for="name">Price : &#160</label><%=itm.itemPrice%>
      </div>
      <div class="">
        <label for="name">Seller Name : &#160</label><%=usr.userName%>
      </div>
      <div class="">
        <label for="text">Email : &#160</label><%=usr.email%></5>
      </div>

    </div>
    <hr>
    <a href="/dashboard"><button class="btn btn-primary">Back</button></a>
  </div>

</body>

</html>